@(message: String, form: play.data.Form[model.User])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Cliff's Blog") {

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@message.toUpperCase</a>
            </div>
        </div>
    </div>
    <div class="container">

        <ul id="user"></ul>

        @helper.form(action = routes.Application.addUser(), 'class -> "well form-horizontal") {
            @helper.inputText(form("user"),'_label -> "Username")
             @helper.inputText(form("firstName"),'_label -> "First Name")
              @helper.inputText(form("lastName"),'_label -> "Last Name")
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Create User"/>
            </div>
        }
    </div>
}