@(message: String, form:  play.data.Form[model.Input])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Cliff's Blog") {

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@message.toUpperCase</a>
            </div>
        </div>
    </div>
    <div class="container">
        <ul id="post"></ul>

        @helper.form(action = routes.Application.create(), 'class -> "well form-horizontal") {
            @helper.inputText(form("input"),'_label -> "Add Post")
            <div class="controls">
                <input type="submit" class="btn btn-primary"/>
 <!-- <a href="@routes.Application.index()" class="btn btn-primary" role="button">Create User</a> -->
            </div>
        }
    </div>
}